@{
    ViewBag.Title = "Кинокомпания Союз";
}

<style>
  .tales {
    width: 100%;
  }
  .carousel-inner{
    width:100%;
    
    max-height: 400px !important;
  }
  .item{
  text-align:center;
  }
  .carousel-inner img{
  display:inline-block  !important;
  }
</style>
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="align-items: center">
      <div class="carousel-inner">
        <div class="carousel-item active">
         <iframe width="560" height="600" class="d-block w-100" src="https://www.youtube.com/embed/P2bu-o2y0eg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;  web-share" allowfullscreen></iframe>
        </div>
        <div class="carousel-item">
          <iframe width="560" height="600"class="d-block w-100" src="https://www.youtube.com/embed/-4xhOEcAkbs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; web-share" allowfullscreen></iframe>
        </div>
        <div class="carousel-item">
          <iframe width="560" height="600" class="d-block w-100" src="https://www.youtube.com/embed/hj9UDbvPZ-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;  web-share" allowfullscreen></iframe>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>  
</div>

   