@model  VoiceStudio.WebUI.Models.IdentityModels.UserForSignIn
<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-black">

                <div class="px-5 ms-xl-4">
                    <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    
                    <form method="post" asp-controller="Account" asp-action="LoginForm" class="form-register">
                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Авторизация</h3>
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label><br/>
                            <input asp-for="Email" class="form-control"/>
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label><br/>
                            <input asp-for="Password" class="form-control"/>
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block mt-3">Войти в систему</button>
                        </div>
                        <p class="text-center text-muted mt-5 mb-0">
                           Нет аккаунта?
                            <a asp-action="RegistrationForm" asp-controller="Account"
                               class="fw-bold text-body">
                                <u>Зарегестрироваться</u>
                            </a>
                        </p>
                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://cdn.fishki.net/upload/post/201406/30/1281564/19e2caa151e1649cdaa9bad47cc4e96e.jpg"
                     alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>